<h1>Make a Cocktail!</h1>
<%= form_with scope: :cocktail, url: create_amount_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :price %>
    <%= f.number_field :price, step: :any %>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>

    <%= f.label :bars %>
    <%= f.collection_check_boxes :bar_ids, Bar.all, :id, :name %><br>
    <br>
    <br>
    <%= f.label :ingredients %>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>

    <%= f.submit("Create Cocktail") %>
<% end %>


