<h1>Re-bar</h1>

<%= form_for @bar do |f| %>
<%= f.label "Bar Name" %>:
<%= f.text_field :name %><br/><br/>

<%= f.label "Bar Location" %>:
<%= f.text_field :location %><br/><br/>
<%= f.label "Cocktails" %>
<%= f.collection_select :cocktail_ids, Cocktail.all, :id, :name, {}, {multiple: true} %><br><br>
<%= f.submit "Edit Bar Info" %>
<% end %>

