<h1>Setting the Bar</h1>

<%= form_for @bar do |f| %>
<%= f.label "Bar Name" %>:
<%= f.text_field :name %><br/><br/>

<%= f.label "Bar Location" %>:
<%= f.text_field :location %><br/><br/>

<%= f.label "Pick Your Poison(s)" %><br><br>
<%= f.collection_select :cocktail_ids, Cocktail.all, :id, :name, {}, {multiple: true} %><br><br>

<%= f.submit "Add New Bar" %>


<% end %>